{% extends 'base.html.twig' %}

{% block title %}Casa{% endblock %}

{% block body %}
    <h1>Casa</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ casa.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ casa.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ casa.direccion }}</td>
            </tr>
            <tr>
                <th>Barrio</th>
                <td>{{ casa.barrio }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('casa_index') }}">back to list</a>

    <a href="{{ path('casa_edit', {'id': casa.id}) }}">edit</a>

    {{ include('casa/_delete_form.html.twig') }}
{% endblock %}
